<form role="form">
    <h3>form</h3>

    <div class="form-group">
        <label>{{data[0].name}}</label>
        <input type="text" class="form-control" ng-model="fUsername">
    </div>
    <div class="form-group">
        <label>{{data[1].name}}</label>
        <input type="text" class="form-control" ng-model="fLogin">
    </div>
    <div class="form-group">
        <label>{{data[2].name}}</label>
        <input type="password" class="form-control" ng-model="fPassword">
    </div>
    <div class="form-group">
        <label>{{data[3].name}}</label>
        <input type="email" class="form-control" ng-model="fEmail">
    </div>

    <button class="btn btn-default" ng-click="addNewTask()">Add task</button>
</form>
