<!DOCTYPE html>
<html ng-app="ToDoList" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ToDo List (Task1)</title>
    <script src="../libs/angular.js"></script>
    <link href="../libs/bootstrap.css" rel="stylesheet"/>
    <link href="../libs/bootstrap-theme.css" rel="stylesheet"/>
    <script>

        var model = [{
            name: "buy milk",
            desc: "go to market and by milk",
            date: new Date(2015, 2, 18),
            check: false
        }, {
            name: "watch angularJS vids",
            desc: "watch full length videos on some site",
            date: new Date(2015, 2, 18),
            check: true
        }];

        angular.module("ToDoList", [])
                .controller("todoCtrl", ["$scope", function ($scope) {
                    $scope.data = model;

                    $scope.addNewTask = function () {
                        $scope.data.push({
                                    name: $scope.taskName,
                                    desc: $scope.taskDesc,
                                    date: $scope.taskDate,
                                    check: $scope.taskCheck
                                }
                        );

                        $scope.taskName = "";
                        $scope.taskDesc = "";
                        $scope.taskDate = new Date();
                        $scope.taskCheck = false;
                    }
                }]);
    </script>

</head>
<body ng-controller="todoCtrl">

<div class="container">

    <h3>ToDo List</h3>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Completed</th>
        </tr>
        </thead>
        <!-- TODO pretty format date -->
        <tr ng-repeat="task in data">
            <td>{{task.name}}</td>
            <td>{{task.desc}}</td>
            <td>{{task.date}}</td>
            <td>{{task.check}}</td>
        </tr>
    </table>

    <div class="panel">
        <!-- Форма для добавления новых задач -->
        <form role="form">
            <h3>Add task</h3>

            <div class="form-group">
                <label for="text">Task name</label>
                <input type="text" class="form-control" ng-model="taskName">
            </div>
            <div class="form-group">
                <label for="date">Due Date</label>
                <input type="date" class="form-control" ng-model="taskDate">
            </div>
            <div class="form-group">
                <label for="text">Description</label>
                <input type="text" class="form-control" ng-model="taskDesc">
            </div>
            <div class="checkbox">
                <label for="checkbox"><input type="checkbox" ng-model="taskCheck">Completed</label>
            </div>
            <button class="btn btn-default" ng-click="addNewTask()">Add task</button>
        </form>
    </div>
</div>
</body>
</html>


<!--Откройте файл Task/Task.html.Вам необходимо разработать приложение “To do List”. Задача приложения отображать пользователю таблицу с задачами и предоставлять возможность добавлять новые задачи. Приложение должно быть построено по шаблону, который находится в папке Task в файле template.png-->
