{
    "ecmaFeatures": {
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error"
    },
    //    "extends": ["eslint:recommended", "plugin:react/recommended"]
    "extends": [
        "eslint:all",
        "plugin:react/all"
    ]
}
